.body
{
  background-image: linear-gradient( 99.9deg, rgb(16, 15, 19) 21.2%, rgba(50,4,89,1) 84.8% );
  font-family: sans-serif;
}

.header
{
  border-bottom: solid 2px white;
  padding: 15px;
  
  
}

.hidden
{
  display: hidden;
}

.footer {

  background-color: rgb(29, 29, 29);
  background-color: rgb(29, 29, 29);
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}
