.body
{
  background-image: linear-gradient( 99.9deg, rgb(16, 15, 19) 21.2%, rgba(50,4,89,1) 84.8% );
}

.header
{
  border-bottom: solid 2px white;
  padding: 15px;
  
  
}

.hidden
{
  display: hidden;
}

.footer {
<<<<<<< HEAD
  background-color: rgb(29, 29, 29);
=======
 background-color: rgb(29, 29, 29);
>>>>>>> eac98c3cdaebec06260b6e290a61c6f947f0367b
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}
<<<<<<< HEAD
=======

>>>>>>> eac98c3cdaebec06260b6e290a61c6f947f0367b
