
.mobMenu
{
  display: none;
}

.headerLogo
{
 
  text-align: center;
  width: 70px;
  position: relative;
  top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
 
}

.textLogo
{
  background: -webkit-linear-gradient(90deg, #4961da, transparent) #1cbec4;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  font-weight: 700;
}

.textLogo::after
{
  background: -webkit-linear-gradient(90deg, #4961da, transparent) #e91e63;
  content: 'Do';
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  font-weight: 700;

}
.buttons ul
{
  float: right;
  display: flex;
  list-style: none;
}
.buttons ul li
{
  padding: 10px;
  position: relative;
  bottom: 37px;
}
.btn 
{
  border: none;
  width: 80px;
  display: none;
  height: 26px;
  border-radius: 30px;
  background: -webkit-linear-gradient(90deg, #4961da, transparent) #1cbec4;
  color: black;
  transition: 0.3s ease;
  font-weight: 600;
}
.btn:hover
{
  background: -webkit-linear-gradient(90deg, #4961da8d, transparent) #15777a;
  color: black;
 
}
.search
{
  display: inline-block;
  height: 26px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: rgb(218, 13, 13);
  color: white;
  
}
.search:focus
{
  border: none;
  outline: none;
}

.contentList
{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  
}
.contentList li
{
  padding: 20px;
}
.contentList li label
{
  color: white;
}
.transBtn
{
  width: 90px;
  height: 40px;
  border-radius: 30px;
  border:none;
  outline: none;
  background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  cursor: pointer;
  color: black;
  font-weight: 600;
  transition: background-color 0.3s;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  

}

.transFields
{
  display: inline-block;
  height: 26px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: rgb(100, 98, 98);
  color: white;
}

.transFields::placeholder
{
  color: #a5a5a5;
}
.transFields:focus
{
  border: none;
  outline: none;
}
.select
{
  height: 26px;
  text-align: center;
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 12px;
  height: 30px;
}

.select:focus
{
  outline: 0;
  outline-color: transparent;
  outline-style: none;

}

.headText
{

  color: white;
  display: block;
  text-align: center;
  
  
}
.headTextb
{
  text-align: center;
  background: -webkit-linear-gradient(180deg, #4961da, transparent) #1cbec4;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1283px) {

  .buttons ul li 
  {
    padding: 0px;
    display: none;

  }

  .mobMenu
  {
    border: none;
    float: right;
    display: none;
    position: relative;
    left: 50vw;
    border-radius: 50%;
    width:40px;
    height: 40px;
    background: -webkit-linear-gradient(90deg, #4961da, transparent) #1cbec4;
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: x-large;
    font-weight: 700;
    padding-bottom: 5px ;
    transition: 0.3s;
  }

  .mobMenu:hover
  {
    background: -webkit-linear-gradient(45deg, #4961da, transparent) #21f39f16;
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mobNav
  {
   display: flex;

  }

  .mobList
  {
    background: -webkit-linear-gradient(90deg, #4961da, transparent) #1cbec4;
    color: black;
    text-align: center;
    list-style: none;
    width: 150px;
    height: 70px;
    border-radius:7px ;
    position: absolute;
    right: 10vw;
    bottom: 80vh;


  }
  .mobList li 
  {
    padding: 3px;
    padding-right:30px;
    position: relative;
    top: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
  }
  .mobList li:hover
  {
    color: #333;
  }

  .textLogo
{
  background: -webkit-linear-gradient(90deg, #4961da, transparent) #1cbec4;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
  font-weight: 700;
}

.textLogo::after
{
  background: -webkit-linear-gradient(90deg, #4961da, transparent) #e91e63;
  content: 'Do';
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
  font-weight: 700;

}

  .headTextTodo
{
  text-align: center;
  color:  #e91e63;
}

.headerLogo
{
  margin: auto;
  
}

.transBtn:active
{
  
  background-color: #21f39f;
  
}

.transBtn::after
{
  -webkit-tap-highlight-color: transparent;
}




.contentList
{
  display: block;
  flex: column;
}




.errorValid
{
  text-align: center;
  color: black;
  background-color: #e91e63;
  margin-left: 34px;
  margin-right: 27px;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
}

.errorValid::before
{
  content: 'ⓧ';
}

.todoSubmit
{
  height: 45.5px;
  position: relative;
  bottom: 0;
  border: none;
  background-color: #e91e63;
  border-radius: 0 5px 5px 0;
}




  
}

@media screen and (min-width: 1284px)
{
  .mobMenu{
    display: none;
  }

  .search
  {
    position: relative;
    right: 390px;
    width: 500px;
    display: none;
  }

  .transBtn:hover
{
  
  background-color: #21f39f;
  
}



  .todoInput:focus
  {
    outline: none;
  }

  
  
  .headTextTodo
{
  text-align: center;
  
  color:  #e91e63;

}

.headTextwrapper
{
  margin: auto;
  width: 50%;
}

.headText
{
  text-align: center;
}


.errorValid
{
  text-align: center;
  color: black;
  background-color: #e91e63;
  border-radius: 5px;
}

.errorValid::before
{
  content: 'ⓧ';
}

.todoSubmit
{
  height: 45px;
  position: relative;
  bottom: 0;
  border: none;
  background-color: #e91e63;
  border-radius: 0 5px 5px 0;
}



}



.trash
{
  cursor: pointer;
  float: right;
 
}

.edit
{
  cursor: pointer;
  float: right;
  
 
}


.wrapper
{
  background-color: rgba(0, 0, 0, 0.578);

  border-radius: 8px;

}




.todoInput
{
  height: 40px;
  width: 250px;
  text-align: center;
  border: 2px solid #e91e63;
  border-right: none;
  background-color: #380919;
  color: white;
  border-radius: 5px 0 0 5px;

}

.todoInput:focus
{
    outline: none;
}


.headTextTodo
{
  text-align: center;
  color:  #e91e63;
  
}


